/* body */
body {
    background-image: url('../images/congruent_pentagon.png');
}

.crystals {
    margin-bottom: 25px;
}

.score {
    margin-bottom: 50px;
    background-color: #E8E8E8;
}

.counter {
    background-color: #E8E8E8;
    margin-bottom: 50px;
}

.wins-losses {
    background-color: #E8E8E8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.computer-number {
    background-color: #E8E8E8;
    margin-bottom: 20px;
    margin-right: 20px;
}

.directions {
    background-color: #E8E8E8;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title {
    background-color: #E8E8E8;
    margin-bottom: 20px;
    margin-top: 20px;
}